body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  .header{
    margin:30px;
    margin-top: 20px;
    font-size:xx-large
  }
  .tablinks {
    border: none;
    background: none;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    font-size: 17px;
    width: 10%;
    font-family:"Joan"
  }
  .tablinks:hover {
    text-decoration: underline;
  }
  .tabcontent.active{
    display:block
  }
  .tabcontent{
    display:none;
  }
  #title{
    color: white;
    font-size: 60px;
    width: 25%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family:"Jacquard 24"
  }
  .leftRow{
    float: left;
    margin-top: 50px;
  }
  .rightRow{
    float: right;
    margin-top: 50px;
  }
  #imageIvy{
    max-height: 80vh;
    text-align: right;
  }
  #imageLiz{
    max-height: 80vh;
    text-align: left;
  }
  .imageBox{
    height: 80%;
    width: 65%;
    position: fixed;
    right:5%;
    top: 10%;
 
  }
  .imageBoxLiz{
    height: 80%;
    width: 65%;
    float:left;
    position: fixed;
    left:5%;
    top: 10%;
 
  }
body{
    background-color: rgb(17, 17, 17);
    h1, h5, h3, a{
        color:white;
        text-decoration: none;
    }
    opacity: 0;
    animation: fadeIn 800ms forwards;
}
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
.desc{
    color: white;
    font-size: 11px;
    font-family:"Joan"
}
.entry{
  margin: 40px;
  font-size:xx-large;
  font-family:"Joan"
}
.jacquard-24-regular {
  font-family: "Jacquard 24", serif;
  font-weight: 400;
  font-style: normal;
}
.joan-regular {
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

#letter{
    font-family: "Fraunces";
}